@font-face{
    font-family:'mifuente';
    src: url(../fonts/HelpMe.ttf);
}


.formulario {
    background-image:url(../img/bosque.jpg);
   height: 406px;
    color: aliceblue;
   
}

.titulo{
    font-size: 50pt;
    text-align: center;
    font-family: 'mifuente';
}

