@font-face{
    font-family:'mifuente';
    src: url(../fonts/HelpMe.ttf);
}
@font-face{
    font-family:'GhoulFriAOE';
    src: url(../fonts/GhoulFriAOE.ttf);
}

.formulario {
    background-image:url(../img/bosqueCuervo.png);
   height: 800px;
   width: 100%;
    color: aliceblue;
    background-repeat: no-repeat;
    
}


.titulo{
    font-size: 50pt;
    text-align: center;
    font-family: 'mifuente';
    padding:70px;
   
    
}

.datos{
    text-align: center;
    
    padding: 20px;
}

.datos label{
    text-align: left;
    width: 400px;
}

.subtituloPGP{

    text-align: center;
    text-transform: uppercase;
    font-family:"GhoulFriAOE";
    font-size: 30pt;
}